{% extends 'base.html' %}
{% block title %} Welcome to Golfantasy! {% endblock %}
{% block content %}
                  <h2>Get <em>ready</em> to join the ultimate <br> <em>golf fantasy league</em></h2>
                  <p>Draft and manage your team of professional golfers and face off against your friends and millions others around the world.</p>
                  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/golfantasy/signup"><b>Join Now!</b></a>
{% endblock %}