{% extends 'base.html' %}
{% block title %} Welcome to Golfantasy! {% endblock %}
{% block content %}

<link rel="stylesheet" src="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">



<div class="container-md " id="main-dashboard">
    <div class="row">
            <div class="col col-6" id="dasboard-league-scores">
                <h3>Leagues</h3>
                {% if not g.user.leagues %}
                <a href="/golfantasy/leagues">Join a league today!</a>
                {% else %}
                    {% for league in g.user.leagues %}
                        <div class="row">
                            <div class="col">
                                <a href="/golfantasy/leagues/{{league.id}}" class="league-links" data-league_id="{{league.id}}">{{league.league_name}}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col col-6" id="dashboard-trending-golfers">
                <h3>Latest PGA Tour Event Results</h3>
                <h5>{{tournament.tournament_name}}</h5>
                <p><b>Tournament Date:</b> {{ tournament.date.strftime('%B %d, %Y') }}</p>
                    <table id="myTable" class="display">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for golfer in results %}
                            <tr>
                                <td>{{golfer.full_name}}</td>
                                <td>{{golfer.total_score_vs_par}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
    </div>
</div>

{% endblock %}

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js">
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
</script>