{% extends 'base.html' %}
{% block title %} {{league.league_name}} Lobby {% endblock %}
{% block content %}


<div class="container-fluid">
    <h2> Welcome to {{league.league_name}}!</h2>
    <div id="countdown">
    </div>
    <h4>League Manager:</h4>
    {% if league.league_manager_id == g.user.id %}
    <form action="/golfantasy/leagues/{{league.id}}/draft" method="post">
        <button id="draft-start-button">Start draft now!</button>
    </form>
    {% endif %}
    
    <div col="row">
        <h4>Teams</h4>
        <div class="col">
            <ul>
                {% for team in league.teams%}
                    <li><a href="/golfantasy/teams/{{team.id}}">{{team.team_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>




{% endblock %}

<script>


    $(document).ready(function(){
      instantiateCurrentLeague()
      function updateCountdown() {
            const countdownDate = new Date('{{ countdown_date }}').getTime();
            const now = new Date().getTime();
            const distance = countdownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            const countdownElement = document.getElementById('countdown');
            if (distance < 0) {
                countdownElement.innerHTML = 'EXPIRED';
            } else {
                countdownElement.innerHTML = `
                    ${days}d ${hours}h ${minutes}m ${seconds}s
                `;
            }
        }

        // Update the countdown every second
        setInterval(updateCountdown, 1000);

        // Initial update
        updateCountdown();

    })
    
</script>