{% extends 'base.html' %}
{% block title %} {{league.league_name}} {% endblock %}
{% block content %}
League status:{{league.status}}
<div class="container-fluid">
    <h3>{{league.league_name}} Draft!</h3>
    <div class="row">
        <div class="col col-12">
            <h4>Draft Order</h4>
            <ul id="draft-order">
            </ul>
        </div>
    <div class="row">
        <div class="col col-3">
            <h4>Drafted Golfers</h4>
            <ul id="drafted-golfers"></ul>
        </div>
        <div class="col col-6">
            <h4>Available Golfers</h4>
            <ul id="available-golfers"></ul>
        </div>
        <div class="col col-3">
            <h4>Team Golfers</h4>
            <ul id="team-golfers"></ul>
        </div>
    </div>
 
<button id="draft-pick-btn">Make Draft Pick</button>




{% endblock %}



