
{% extends 'base.html' %}


{% block title %} {{league.league_name}} {% endblock %}
{% block content %}


  
<div class="container-fluid text-center">
    <h3>{{league.league_name}} Draft!</h3>
	<div><b>League status: </b>{{ league.status }}</div>
    <div><b>League start-date: </b>{{league.start_date.strftime('%B %d, %Y')}}</div>
    <div><b>League end-date: </b>{{league.end_date.strftime('%B %d, %Y')}}</div>

	<div class="row d-flex justify-content-center">
		<div class="col col-5 my-4 ">
			<h4>Draft Order</h4>
			<div id="draft-order"> </div>
		</div>
		<div class="col col-5 justify-content-center my-4">
			<h4>Draft Picks Made:</h4>
			<div id="draft-pick-counter">{{league.draft_pick_count}} / {{max_draft_picks}}</div>
		</div>
	
	</div>
	<div class="row">
		<div class="col col-4">
			<h4>Drafted Golfers</h4>
			<div id="drafted-golfers" class="d-flex flex-column align-items-start">
				{% for golfer in drafted_golfers %}
				<div> <img class="golfer-image" src="{{golfer.golfer_image_url}}"> {{golfer.first_name}} {{golfer.last_name}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="col col-4">
			<h4>Available Golfers</h4>
			<table id="availableGolfersTable" class="display">
				<thead>
					<tr>
						<th>OWGR</th>
						<th>Golfer</th>
					</tr>
				</thead>
				<tbody id="available-golfers">
					{% for golfer in available_golfers %}
					<tr data-golfer_id="{{golfer.id}}">
						<td>{{golfer.owgr}}</td>
						<td>
							<img class="golfer-image" src="{{golfer.golfer_image_url}}">
							{{golfer.first_name}} {{golfer.last_name}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<div class="col col-4">
			<h4>Team Golfers</h4>
			<div class="row" id="team-golfers" class="d-flex flex-column align-items-start">
				{% for team in league.teams %}
				<div class="col col-6 team-golfers-team d-flex flex-column align-items-start" data-team_id="{{team.id}}">
					{% if team.user_id == g.user.id %}
					<p class="bg-secondary text-white">{{team.team_name}}</p>
					{% else %}
					<p>{{team.team_name}}</p>               
					{% endif %}
					{% for golfer in team.golfers%}
					<div><img class="golfer-image" src="{{golfer.golfer_image_url}}">{{golfer.first_name}} {{golfer.last_name}}</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="draft-complete-modal" tabindex="-1" aria-labelledby="draftCompleteModalLabel" style="display: hide" aria-modal="true" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Draft Completed!</h5>
		</div>
		<div class="modal-body">
			<p>Click "Continue" below to proceed to league dashboard</p>
		</div>
		<div class="modal-footer">
			<a type="button" class="btn btn-primary" href="/golfantasy/leagues/{{league.id}}">Continue</a>
		</div>
		</div>
	</div>
</div>
	
 
<button id="confirm-pick-btn" style="display:none" >Confirm pick</button>
<button id="cancel-pick-btn" style="display:none" >Cancel pick</button>

  



{% endblock %}


