{% extends 'base.html' %}
{% block title %} Welcome to Golfantasy! {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<div class="container-md " id="main-dashboard">
    <div class="row">
            <div class="col col-6" id="dasboard-league-scores">
                <h3>Your Leagues</h3>
                {% if not g.user.leagues %}
                <a href="/golfantasy/leagues">Join a league today!</a>
                {% else %}
                    {% for league in g.user.leagues %}
                        <div class="row">
                            <div class="col">
                                <img class="bullet-balls" src="/static/images/golf-ball-logo-2.png"><a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover league-links" href="/golfantasy/leagues/{{league.id}}" data-league_id="{{league.id}}"> {{league.league_name}}</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"href="/golfantasy/leagues"><b>Join/Create another league</b></a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col col-6" id="dashboard-trending-golfers">
                <h3>Latest PGA Tour Event Results</h3>
                <h5>{{tournament.tournament_name}}</h5>
                <p><b>Tournament Date:</b> {{ tournament.date.strftime('%B %d, %Y') }}</p>
                <table id="latestEventGolfers" class="display">
                    <thead>
                        <tr>
                            <th>Golfer</th>
                            <th></th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td><img class="golfer-image" src="{{result.golfer_image_url}}"></td>
                            <td>{{result.full_name}}</td>
                            <td>{{result.total_score_vs_par}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

{% endblock %}




<!-- <div class="col col-6" id="dashboard-trending-golfers">
    <h3>Latest PGA Tour Event Results</h3>
    <h5>{{tournament.tournament_name}}</h5>
    <p><b>Tournament Date:</b> {{ tournament.date.strftime('%B %d, %Y') }}</p>
        <div class="row">
            <div class="col">
                <p>Golfer</p>
            </div>
            <div class="col">
                <p>Score</p>
            </div>
        </div>
        {% for result in results %}
        <div class="row golfer-result" data-golfer_id = {{result.golfer_id}}>
            <div class="col col-10">
                <div class="row">
                    <div class="col col-2"><img class="golfer-image" src="{{result.golfer_image_url}}"></div>
                    <div class="col col-10">{{result.full_name}}</div>
                </div>
            </div>
            <div class="col col-2">
                {{result.total_score_vs_par}}
            </div>
        </div>
        {% endfor %}
</div> -->